# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
nsm
bin/

# Key files
*.pem

# Test binaries
*.test

# Build cache
/vendor/
/build/

# Log files
*.log
logs/

# Tendermint data and temp files
.tendermint*
tendermint_persistent_peers
*.sock

# IDE / Editor specific
.vscode/
.idea/
*.swp
*~

# OS-specific
.DS_Store
Thumbs.db

# Environment
.env
deploy.env

# Code assist
_prompt*