# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
nsm

# Test binaries
*.test

# Build cache
/vendor/
/build/

# Log files
*.log

# IDE / Editor specific
.vscode/
.idea/
*.swp
*~

# OS-specific
.DS_Store
Thumbs.db

# Environment
.env