[Unit]
Description=nexSign Mini Service
After=network.target

[Service]
Type=simple
User=nsm
Group=nsm
WorkingDirectory=/opt/nsm
Environment=PORT=8080
StandardOutput=append:/var/log/nsm/nsm.log
StandardError=append:/var/log/nsm/nsm.log
ExecStart=/opt/nsm/nsm
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
